body {
  background-color: rgb(4, 0, 28);
}
body::before {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 56% 0;
  transform: rotate(-24deg);
  scale: 181%;
  left: 160px;
  top: 320px;
  opacity: 0.3;
}
@media (min-width: 48em) {
  body::before {
    left: 240px;
    top: 434px;
  }
}
@media (min-width: 48em) {
  body::before {
    left: 166px;
    top: 500px;
  }
}
@media (min-width: 80em) {
  body::before {
    left: 166px;
    top: 300px;
  }
}

.global__btp {
  width: 80%;
  height: 50px;
  max-width: 180px;
  border-radius: 25px;
  background-color: rgb(97, 255, 189);
  color: rgb(4, 0, 28);
  font-size: 18px;
}

.global__tx-lg {
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
}
@media (min-width: 48em) {
  .global__tx-lg {
    font-size: 60px;
  }
}

.global__tx-mdl {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
}
@media (min-width: 48em) {
  .global__tx-mdl {
    font-size: 60px;
  }
}

.global__tx-md {
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  color: rgb(172, 172, 181);
}

.global__tx-sm {
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  color: rgb(172, 172, 181);
}

.global__cont {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 50px;
}
@media (min-width: 48em) {
  .global__cont {
    padding: 0 60px;
    padding-top: 70px;
  }
}
@media (min-width: 80em) {
  .global__cont {
    padding: 0 10%;
    padding-top: 150px;
  }
}

.gl-goTop {
  color: rgb(97, 255, 189);
  font-size: 30px;
}
.gl-goTop--cont {
  background-color: rgb(43, 43, 43) !important;
  box-shadow: 0 0px 7px 7px rgba(1, 1, 1, 0.5) !important;
  padding: 5px !important;
  width: 50 !important;
  height: 50 !important;
}

.navbar {
  position: relative;
  top: 0;
  height: 80px;
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  background-color: rgb(4, 0, 28);
  z-index: 988;
}
@media (min-width: 48em) {
  .navbar {
    height: 100px;
  }
}
.navbar__lang {
  position: absolute;
  right: 102px;
  top: 23px;
  color: White;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
}
@media (min-width: 48em) {
  .navbar__lang {
    right: 448px;
    top: 30px;
  }
}
.navbar__container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  position: relative;
}
.navbar__img {
  width: 130px;
  margin-left: 25px;
  margin-top: 22px;
  z-index: 1000;
}
.navbar__img img {
  width: 100%;
}
@media (min-width: 48em) {
  .navbar__img {
    margin-left: 33px;
  }
}
.navbar__links {
  margin-top: 35px;
  margin-right: 50px;
}
.navbar__links :nth-child(n) {
  padding: 10px;
  color: rgb(244, 244, 244);
}
@media (max-width: 47.9375em) {
  .navbar__links {
    display: none;
  }
}
.navbar__burguer {
  position: absolute;
  right: 23px;
}
@media (max-width: 47.9375em) {
  .navbar__burguer {
    margin-top: 20px;
    margin-right: 25px;
  }
  .navbar__burguer :nth-child(n) {
    background-color: rgb(244, 244, 244);
    height: 5px;
    width: 35px;
    margin: 5px;
  }
}

.sideBarOn,
.sideBarOff {
  position: absolute;
  top: 10px;
  width: 95%;
  height: 500px;
  background-color: rgb(4, 0, 28);
  border-radius: 18px;
  z-index: 999;
  -webkit-animation-duration: 750ms;
          animation-duration: 750ms;
}
.sideBarOn .st1,
.sideBarOff .st1 {
  position: absolute;
  top: 8px;
  right: 10px;
  height: 35px;
  width: 35px;
}
.sideBarOn .st2,
.sideBarOn .st3,
.sideBarOff .st2,
.sideBarOff .st3 {
  position: absolute;
  top: 10px;
  right: -5px;
  height: 5px;
  width: 35px;
  margin: 5px;
  background-color: rgb(244, 244, 244);
}
.sideBarOn .st2,
.sideBarOff .st2 {
  rotate: 45deg;
}
.sideBarOn .st3,
.sideBarOff .st3 {
  rotate: -45deg;
}
.sideBarOn .sideBarLinks,
.sideBarOff .sideBarLinks {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: bold;
  margin-top: 83px;
  margin-left: 35px;
}
.sideBarOn .sideBarLinks a,
.sideBarOff .sideBarLinks a {
  margin: 12px 0px;
  color: rgb(244, 244, 244);
}

.sideBarOn {
  margin-left: 0%;
  -webkit-animation-name: slideIn;
          animation-name: slideIn;
  transform: translateX(0%);
}

.sideBarOff {
  margin-left: 200%;
  -webkit-animation-name: slideOut;
          animation-name: slideOut;
  transform: translateX(0%);
}

@-webkit-keyframes slideIn {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slideIn {
  from {
    margin-left: 200%;
  }
  to {
    margin-left: 0%;
  }
}
@-webkit-keyframes slideOut {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 200%;
  }
}
@keyframes slideOut {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 200%;
  }
}
.sideBarInit {
  margin-left: 0%;
}
.sideBarInit .st1,
.sideBarInit .st2,
.sideBarInit .st3,
.sideBarInit .sideBarLinks {
  display: none;
}

.card-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__features {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__features--card {
  max-width: 645px;
  max-height: 600px;
}

.hero {
  margin: 0 auto;
  max-width: 1728px;
}
.hero .hero__container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 25px;
}
@media (min-width: 48em) {
  .hero .hero__container {
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
  }
}
.hero .hero__img {
  width: 100%;
  margin: 10px;
  margin-top: 60px;
}
@media (min-width: 48em) {
  .hero .hero__img {
    width: 50%;
    margin: 0px;
  }
}
.hero .hero__img img {
  width: 90%;
  margin: 0 auto;
}
.hero .hero__text {
  color: rgb(244, 244, 244);
  margin-left: 25px;
  width: 90%;
}
@media (min-width: 48em) {
  .hero .hero__text {
    margin-left: 50px;
    width: 50%;
  }
}
@media (min-width: 80em) {
  .hero .hero__text {
    margin-left: 100px;
    width: 50%;
  }
}
.hero .hero__text--title {
  margin-bottom: 45px;
  margin-top: 70px;
}
@media (min-width: 48em) {
  .hero .hero__text--title {
    margin-bottom: 50px;
  }
}
.hero .hero__text--subTitle {
  margin-bottom: 35px;
}
@media (min-width: 48em) {
  .hero .hero__text--subTitle {
    margin-bottom: 75px;
  }
}

.what__title {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 48em) {
  .what__title {
    margin-bottom: 25px;
  }
}
@media (min-width: 80em) {
  .what__title {
    margin-bottom: 30px;
  }
}
.what__subTitle {
  text-align: left;
  margin-bottom: 56px;
}
@media (min-width: 48em) {
  .what__subTitle {
    text-align: center;
    margin-bottom: 65px;
  }
}
@media (min-width: 80em) {
  .what__subTitle {
    margin-bottom: 90px;
  }
}
.what__subTitle2 {
  text-align: center;
  margin-bottom: 50px;
}
@media (min-width: 48em) {
  .what__subTitle2 {
    margin-bottom: 60px;
  }
}
@media (min-width: 80em) {
  .what__subTitle2 {
    margin-bottom: 90px;
  }
}
.what__imagen {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media (min-width: 48em) {
  .what__imagen {
    margin-bottom: 25px;
  }
}
@media (min-width: 80em) {
  .what__imagen {
    margin-bottom: 60px;
  }
}
.what__imagen img {
  width: 100%;
  border-radius: 15px;
}
.what__video {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}
@media (min-width: 48em) {
  .what__video {
    margin-bottom: 30px;
  }
}
@media (min-width: 80em) {
  .what__video {
    margin-bottom: 35px;
  }
}
.what__video iframe {
  width: 100%;
  height: 48vw;
  border-radius: 15px;
}
@media (min-width: 80em) {
  .what__video iframe {
    height: 660px;
  }
}

.advantages__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 48em) {
  .advantages__title {
    font-size: 60px;
    margin: 35px 0;
  }
}
.advantages__subTitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  color: rgb(172, 172, 181);
  margin-bottom: 56px;
}
@media (min-width: 48em) {
  .advantages__subTitle {
    font-size: 20px;
  }
}
.advantages__advantage {
  padding: 0 20px;
}
@media (min-width: 48em) {
  .advantages__advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
.advantages__advantage--mobileTitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 48em) {
  .advantages__advantage--mobileTitle {
    display: none;
  }
}
.advantages__advantage--img {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
@media (min-width: 48em) {
  .advantages__advantage--img {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }
}
.advantages__advantage--img img {
  width: 100%;
}
@media (min-width: 48em) {
  .advantages__advantage--img img {
    width: 80%;
  }
}
@media (min-width: 48em) {
  .advantages__advantage--text {
    width: 50%;
    padding: 0 20px;
  }
}
.advantages__advantage--text h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 47.9375em) {
  .advantages__advantage--text h2 {
    display: none;
  }
}
@media (min-width: 48em) {
  .advantages__advantage--text h2 {
    font-size: 40px;
    text-align: left;
  }
}
.advantages__advantage--text h4 {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  color: rgb(172, 172, 181);
  margin-bottom: 50px;
}
@media (min-width: 48em) {
  .advantages__advantage--text h4 {
    font-size: 18px;
  }
}

@media (min-width: 48em) {
  .flex-row-rev {
    flex-direction: row-reverse;
  }
}

.buybutton__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  margin-bottom: 20px;
  text-align: center;
}
@media (min-width: 48em) {
  .buybutton__title {
    font-size: 60px;
    margin: 35px 0;
  }
}
.buybutton__subTitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  color: rgb(172, 172, 181);
  margin-bottom: 56px;
}
@media (min-width: 48em) {
  .buybutton__subTitle {
    font-size: 20px;
  }
}
.buybutton__button {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.buybutton__img {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buybutton__img img {
  width: 100%;
}
@media (min-width: 48em) {
  .buybutton__img img {
    width: 80%;
  }
}

.features__title {
  margin-bottom: 20px;
  text-align: center;
}
.features__subTitle {
  margin-bottom: 56px;
}
@media (min-width: 48em) {
  .features__container {
    display: flex;
    flex-wrap: wrap;
  }
}
.features__container--feature {
  width: 100%;
}
@media (min-width: 48em) {
  .features__container--feature {
    width: 50%;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.feature__image {
  width: 64%;
  margin: 27px;
}
.feature__image img {
  width: 100%;
}
@media (min-width: 48em) {
  .feature__image {
    width: 70%;
  }
}
.feature__title {
  color: rgb(244, 244, 244);
}

@media (min-width: 48em) {
  .featPage {
    padding: 0 30px;
    padding-top: 60px;
  }
}
@media (min-width: 48em) {
  .featPage__cont {
    display: flex;
    justify-content: center;
  }
}
.featPage__aside {
  margin-left: 20px;
}
@media (min-width: 48em) {
  .featPage__aside {
    margin-left: 0px;
    width: 30%;
    padding-right: 20px;
  }
}
.featPage__aside--title1 {
  color: rgb(244, 244, 244);
  font-size: 40px;
  margin-bottom: 30px;
}
.featPage__aside--title2 {
  color: rgb(244, 244, 244);
  font-size: 35px;
  margin: 30px 0;
}
.featPage__aside--item {
  color: rgb(172, 172, 181);
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.featPage__dyncard {
  background-color: rgb(21, 19, 43);
  border-radius: 45px;
  margin-top: 60px;
}
@media (min-width: 48em) {
  .featPage__dyncard {
    margin-top: 0px;
  }
}
.featPage__dyncard--card {
  padding-bottom: 90px;
  max-width: 700px;
}
.featPage__dyncard--card--img {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
}
.featPage__dyncard--card--img img {
  width: 100%;
  border-radius: 45px 45px 0 0;
}
.featPage__dyncard--card--imi {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  margin-bottom: 20px;
}
.featPage__dyncard--card--imi img {
  width: 90%;
}
.featPage__dyncard--card--tit {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.featPage__dyncard--card--sub {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  margin: 0 15px;
  margin-bottom: 30px;
}
.featPage__dyncard--card--txt {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(172, 172, 181);
  text-align: left;
  margin: 0 15px;
  margin-bottom: 50px;
}
.featPage .feat_buyButton {
  margin-bottom: 0px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal--container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal--card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(4, 0, 28);
  border-radius: 17px;
}
@media (min-width: 48em) {
  .modal--card {
    width: 550px;
  }
}
@media (min-width: 48em) {
  .modal--card {
    width: 550px;
  }
}
.modal--card--close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(244, 244, 244);
  opacity: 0.7;
  border-radius: 50%;
  padding: 2px;
  line-height: 0;
}
.modal--card--close img {
  width: 25px;
  opacity: 1;
}
.modal--card--button {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  justify-content: center;
}
.modal--card--button button {
  text-align: center;
  font-size: 16px;
  width: 100px;
  height: 25px;
}
.modal--card--img {
  overflow: hidden;
  height: 168px;
  border-radius: 17px 17px 0 0;
}
@media (min-width: 48em) {
  .modal--card--img {
    height: 252px;
  }
}
@media (min-width: 48em) {
  .modal--card--img {
    height: 308px;
  }
}
.modal--card--img img {
  width: 100%;
}
.modal--card--containerText {
  margin: 10px;
}
@media (min-width: 48em) {
  .modal--card--containerText {
    margin: 25px;
  }
}
.modal--card--title {
  color: rgb(244, 244, 244);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1;
}
@media (min-width: 48em) {
  .modal--card--title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
  }
}
.modal--card--subTitle {
  text-align: left;
  font-size: 16px;
  color: rgb(244, 244, 244);
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
}
@media (min-width: 48em) {
  .modal--card--subTitle {
    margin-bottom: 15px;
    font-size: 16px;
  }
}
.modal--card--text {
  text-align: left;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 15px;
  color: rgb(172, 172, 181);
}
@media (min-width: 48em) {
  .modal--card--text {
    margin-bottom: 25px;
    font-size: 14px;
  }
}

.footer {
  position: relative;
  bottom: 0;
  padding-top: 50px;
}
@media (min-width: 48em) {
  .footer {
    padding-top: 100px;
  }
}
.footer__linea {
  height: 1px;
  background-color: #3e3e3e;
  margin-bottom: 28px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 48em) {
  .footer__container {
    flex-direction: row;
    align-items: baseline;
  }
}
.footer__textContainer {
  padding: 10px;
}
@media (min-width: 48em) {
  .footer__textContainer {
    width: 70%;
  }
}
.footer__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: rgb(172, 172, 181);
  text-align: justify;
  margin-bottom: 47px;
}
@media (min-width: 48em) {
  .footer__text {
    font-size: 16px;
    margin-bottom: 0;
  }
}
@media (min-width: 48em) {
  .footer__mailContainer {
    width: 30%;
  }
}
.footer__subTitle {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: rgb(172, 172, 181);
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 48em) {
  .footer__subTitle {
    font-size: 20px;
  }
}
.footer__mail {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  color: rgb(172, 172, 181);
  text-decoration: underline;
  text-align: center;
  margin-bottom: 54px;
}
.footer__rights {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  color: rgb(172, 172, 181);
  text-align: center;
  padding-bottom: 50px;
}

.buyPrimario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buyPrimario__titulo {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  text-align: center;
  margin-bottom: 45px;
}
.buyPrimario__subTitulo {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(172, 172, 181);
  text-align: center;
  margin-bottom: 90px;
}
.buyPrimario__card {
  color: rgb(244, 244, 244);
  background-color: rgb(21, 19, 43);
  max-width: 600px;
  position: relative;
  top: 0;
  border-radius: 45px;
  width: 100%;
}
@media (min-width: 80em) {
  .buyPrimario__card {
    max-width: 700px;
  }
}
.buyPrimario__card--img {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(0, 255, 182, 0.7) 0%, rgba(105, 0, 255, 0.7) 100%);
  border-radius: 45px 45px 0 0;
}
.buyPrimario__card--img img {
  width: 100%;
}
.buyPrimario__card--imgSec {
  display: flex;
  justify-content: center;
  border-radius: 45px 45px 0 0;
}
.buyPrimario__card--imgSec img {
  border-radius: 45px 45px 0 0;
  width: 100%;
}
.buyPrimario__card--tit {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  text-align: center;
  margin-bottom: 45px;
  margin-top: 35px;
}
.buyPrimario__card--itm {
  font-size: 25px;
  font-weight: normal;
  line-height: 1;
  color: rgb(172, 172, 181);
  text-align: left;
  position: relative;
  margin-bottom: 13px;
  margin-left: 10%;
}
.buyPrimario__card--itm::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 8px;
  background-color: rgb(105, 0, 255);
  margin-left: -15px;
  top: -3px;
  opacity: 0.75;
}
.buyPrimario__card--price {
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  text-align: center;
  margin: 50px 0;
}
.buyPrimario__card--price div {
  display: inline;
  font-size: 35px;
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  color: rgb(172, 172, 181);
  text-align: center;
}
.buyPrimario__card--button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.buySecundario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buySecundario__titulo {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  text-align: center;
  margin-bottom: 45px;
}
.buySecundario__subTitulo {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(172, 172, 181);
  text-align: center;
  margin-bottom: 90px;
}
.buySecundario__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 48em) {
  .buySecundario__container {
    flex-direction: row;
    justify-content: center;
  }
}
.buySecundario__card {
  color: rgb(244, 244, 244);
  background-color: rgb(21, 19, 43);
  max-width: 600px;
  position: relative;
  top: 0;
  margin: 20px;
  border-radius: 45px;
  width: 75%;
  min-width: 275px;
}
@media (min-width: 48em) {
  .buySecundario__card {
    width: 30%;
  }
}
@media (min-width: 80em) {
  .buySecundario__card {
    max-width: 700px;
  }
}
.buySecundario__card--img {
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(0, 255, 182, 0.7) 0%, rgba(105, 0, 255, 0.7) 100%);
  border-radius: 45px 45px 0 0;
}
.buySecundario__card--img img {
  width: 100%;
}
.buySecundario__card--imgSec {
  display: flex;
  justify-content: center;
  border-radius: 45px 45px 0 0;
}
.buySecundario__card--imgSec img {
  border-radius: 45px 45px 0 0;
  width: 100%;
}
.buySecundario__card--tit {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  text-align: center;
  margin-bottom: 45px;
  margin-top: 35px;
}
.buySecundario__card--itm {
  font-size: 25px;
  font-weight: normal;
  line-height: 1;
  color: rgb(172, 172, 181);
  text-align: left;
  position: relative;
  margin-bottom: 13px;
  margin-left: 10%;
}
.buySecundario__card--itm::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 8px;
  background-color: rgb(105, 0, 255);
  margin-left: -15px;
  top: -3px;
  opacity: 0.75;
}
.buySecundario__card--price {
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  text-align: center;
  margin: 50px 0;
}
.buySecundario__card--price div {
  display: inline;
  font-size: 35px;
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  color: rgb(172, 172, 181);
  text-align: center;
}
.buySecundario__card--button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.examplePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.examplePage__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  text-align: center;
  margin-bottom: 45px;
}
.examplePage__dyncard {
  margin-top: 60px;
}
@media (min-width: 48em) {
  .examplePage__dyncard {
    margin-top: 0px;
  }
}
.examplePage__dyncard--card {
  background-color: rgb(21, 19, 43);
  border-radius: 45px;
  padding-bottom: 50px;
  max-width: 800px;
  margin-bottom: 90px;
}
.examplePage__dyncard--card--img {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
}
.examplePage__dyncard--card--img img {
  width: 100%;
  border-radius: 45px 45px 0 0;
}
.examplePage__dyncard--card--imi {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
  margin-bottom: 20px;
}
.examplePage__dyncard--card--imi img {
  width: 100%;
}
.examplePage__dyncard--card--dat {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  color: rgb(172, 172, 181);
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.examplePage__dyncard--card--tit {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.examplePage__dyncard--card--sub {
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  margin: 0 15px;
  margin-bottom: 30px;
}
.examplePage__dyncard--card--txt {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(172, 172, 181);
  text-align: left;
  margin: 0 15px;
  margin-bottom: 50px;
}

.formContact {
  color: rgb(255, 255, 255);
  background-color: rgb(21, 19, 43);
  border-radius: 45px;
  margin: 0 auto;
  width: 90%;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-top: 70px;
  max-width: 800px;
}
.formContact__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  margin-bottom: 70px;
  text-align: center;
}
.formContact__campo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formContact__campo h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  color: rgb(244, 244, 244);
  margin-bottom: 20px;
  text-align: left;
  width: 85%;
}
.formContact__campo input {
  background-color: rgb(26, 24, 53);
  width: 85%;
  padding: 15px;
  color: rgb(172, 172, 181);
  border: 1px solid #423aa0;
  border-radius: 15px;
  margin-bottom: 50px;
}
.formContact__campo input:focus {
  border: 1px solid #776edc;
}
.formContact__campo textarea {
  background-color: rgb(26, 24, 53);
  padding: 15px;
  width: 85%;
  color: rgb(172, 172, 181);
  border: 1px solid #423aa0;
  border-radius: 15px;
  margin-bottom: 50px;
  resize: vertical;
  height: 140px;
}
@media (min-width: 48em) {
  .formContact__campo textarea {
    height: 180px;
  }
}
@media (min-width: 80em) {
  .formContact__campo textarea {
    height: 220px;
  }
}
.formContact__campo textarea:focus {
  border: 1px solid #776edc;
}
.formContact__recaptcha {
  margin: 0 auto;
  display: flex;
  margin-bottom: 35px;
  width: 85%;
}
@media (min-width: 48em) {
  .formContact__recaptcha iframe {
    border: 2px solid #423aa0;
  }
}
.formContact__boton {
  display: flex;
  justify-content: center;
}
.formContact__boton button {
  width: 85%;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(97, 255, 189);
  color: rgb(4, 0, 28);
  font-size: 18px;
}

.formLicenceLabel {
  color: rgb(255, 255, 255);
  background-color: #776edc;
  border-radius: 45px;
  margin: 0 auto;
  width: 90%;
  margin-top: 50px;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}
@media (min-width: 48em) {
  .formLicenceLabel {
    margin-top: 85px;
    padding: 40px;
  }
}

.formLicence {
  color: rgb(255, 255, 255);
  background-color: rgb(21, 19, 43);
  border-radius: 45px;
  margin: 0 auto;
  width: 90%;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-top: 37px;
  margin-bottom: 70px;
  max-width: 800px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 48em) {
  .formLicence {
    margin-top: 70px;
  }
}
.formLicence__title {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: rgb(244, 244, 244);
  margin-bottom: 20px;
  text-align: center;
}
.formLicence__subTitle {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  color: rgb(210, 210, 215);
  margin-bottom: 42px;
  text-align: center;
}
@media (min-width: 48em) {
  .formLicence__subTitle {
    margin-bottom: 70px;
  }
}
.formLicence__numeration {
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  color: rgb(244, 244, 244);
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: left;
  width: 90%;
}
@media (min-width: 48em) {
  .formLicence__numeration {
    font-size: 20px;
  }
}
.formLicence__numeration--end {
  margin-bottom: 40px;
}
@media (min-width: 48em) {
  .formLicence__numeration--end {
    margin-bottom: 50px;
  }
}
.formLicence__clarif {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: rgb(210, 210, 215);
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 25px;
  text-align: left;
  width: 90%;
}
@media (min-width: 48em) {
  .formLicence__clarif {
    font-size: 20px;
  }
}
.formLicence__idImage {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.formLicence__idImage img {
  width: 100%;
}
.formLicence__caption {
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: rgb(210, 210, 215);
  margin-bottom: 42px;
  text-align: left;
}
@media (min-width: 48em) {
  .formLicence__caption {
    margin-bottom: 70px;
  }
}
.formLicence__campo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formLicence__campo h3 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  color: rgb(244, 244, 244);
  margin-bottom: 20px;
  text-align: left;
  width: 90%;
}
.formLicence__campo input {
  background-color: rgb(26, 24, 53);
  width: 90%;
  padding: 15px;
  color: rgb(172, 172, 181);
  border: 1px solid #423aa0;
  border-radius: 15px;
  margin-bottom: 50px;
}
.formLicence__campo input:focus {
  border: 1px solid #776edc;
}
.formLicence__campo textarea {
  background-color: rgb(26, 24, 53);
  padding: 15px;
  width: 90%;
  color: rgb(172, 172, 181);
  border: 1px solid #423aa0;
  border-radius: 15px;
  margin-bottom: 50px;
  resize: vertical;
  height: 140px;
}
@media (min-width: 48em) {
  .formLicence__campo textarea {
    height: 180px;
  }
}
@media (min-width: 80em) {
  .formLicence__campo textarea {
    height: 220px;
  }
}
.formLicence__campo textarea:focus {
  border: 1px solid #776edc;
}
.formLicence__recaptcha {
  margin: 0 auto;
  display: flex;
  margin-bottom: 35px;
  width: 90%;
}
@media (min-width: 48em) {
  .formLicence__recaptcha iframe {
    border: 2px solid #423aa0;
  }
}
.formLicence__boton {
  display: flex;
  justify-content: center;
}
.formLicence__boton button {
  width: 90%;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(97, 255, 189);
  color: rgb(4, 0, 28);
  font-size: 18px;
}

.orderPage {
  max-width: 1440px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.orderPage__logo {
  max-width: 1000px;
  width: 90%;
  margin-bottom: 37px;
}
.orderPage__logo img {
  width: 160px;
}

.CardOrder {
  max-width: 1000px;
  color: rgb(244, 244, 244);
  background-color: rgb(21, 19, 43);
  width: 90%;
  border-radius: 10px;
  margin-bottom: 37px;
}
.CardOrder__box {
  height: 70px;
  background-color: rgb(97, 255, 189);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
@media (min-width: 48em) {
  .CardOrder__box {
    height: 140px;
  }
}
.CardOrder__box--title {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(4, 0, 28);
}
@media (min-width: 48em) {
  .CardOrder__box--title {
    font-size: 40px;
  }
}
.CardOrder__box--date {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 16px;
  font-weight: normal;
  color: rgb(4, 0, 28);
}
@media (min-width: 48em) {
  .CardOrder__box--date {
    font-size: 25px;
  }
}
.CardOrder__content {
  padding: 0 15px;
  padding-top: 50px;
}
@media (min-width: 48em) {
  .CardOrder__content {
    padding-top: 90px;
  }
}
.CardOrder__content--product {
  display: flex;
  flex-direction: column;
}
@media (min-width: 48em) {
  .CardOrder__content--product {
    flex-direction: row;
    flex: auto;
  }
}
@media (min-width: 48em) {
  .CardOrder__content--product--item {
    padding: 0px 20px;
  }
}
.CardOrder__content--product--item > p {
  font-size: 20px;
  font-weight: normal;
  color: rgb(244, 244, 244);
  margin-bottom: 18px;
}
.CardOrder__content--product--item div {
  height: 50px;
  background-color: rgb(26, 24, 53);
  border: 1px solid #423aa0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 7px;
  margin-bottom: 35px;
}
@media (min-width: 48em) {
  .CardOrder__content--product--item div {
    margin-bottom: 0px;
    padding: 0 16px;
  }
}
@media (min-width: 48em) {
  .CardOrder__content--product--it {
    width: 40%;
  }
}
@media (min-width: 48em) {
  .CardOrder__content--product--lc {
    width: 40%;
  }
}
.CardOrder__content--product--pr {
  width: 50%;
}
@media (min-width: 48em) {
  .CardOrder__content--product--pr {
    width: 20%;
  }
}
.CardOrder__content hr {
  height: 1px;
  background-color: #423aa0;
  margin-top: 25px;
  margin-bottom: 35px;
}
@media (min-width: 48em) {
  .CardOrder__content hr {
    margin: 0 auto;
    width: 96%;
    margin-top: 90px;
    margin-bottom: 55px;
  }
}
.CardOrder__content h4 {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: normal;
  color: rgb(244, 244, 244);
  margin-bottom: 30px;
}
.CardOrder__content h4 p {
  margin-left: 5px;
}
@media (min-width: 48em) {
  .CardOrder__content h4 {
    margin-bottom: 55px;
  }
}

.payment {
  max-width: 1000px;
  margin-bottom: 37px;
  color: rgb(244, 244, 244);
  background-color: rgb(21, 19, 43);
  width: 90%;
  border-radius: 10px;
  padding: 30px 0;
}
.payment h3 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 25px;
}
@media (min-width: 48em) {
  .payment h3 {
    font-size: 35px;
  }
}
.payment__content {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 48em) {
  .payment__content {
    flex-direction: row;
    align-items: start;
  }
}
.payment__content--logo {
  padding: 0 15px;
}
@media (min-width: 48em) {
  .payment__content--logo {
    width: 50%;
    padding: 0 25px;
  }
}
.payment__content--logo hr {
  height: 1px;
  width: 100%;
  background-color: #423aa0;
  top: 13px;
}
@media (min-width: 48em) {
  .payment__content--logo hr {
    display: none;
  }
}
.payment__content--logo--img {
  margin: 20px 0;
}
.payment__content--logo--img img {
  width: 100%;
}
.payment__content--logo--text p {
  color: rgb(244, 244, 244);
  font-style: italic;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 20px;
}
.payment__content--buttons {
  padding: 0 15px;
}
@media (min-width: 48em) {
  .payment__content--buttons {
    width: 50%;
    padding: 0 25px;
  }
}
.payment__content--buttons--title {
  position: relative;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
}
.payment__content--buttons--title hr {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #423aa0;
  top: 13px;
}
.payment__content--buttons--title h4 {
  position: absolute;
  background-color: rgb(21, 19, 43);
  padding: 0 10px;
  font-size: 25px;
}
.payment__content--buttons--btnTeach {
  display: flex;
  justify-content: center;
}
.payment__content--buttons--btnTeach button {
  width: 100%;
  height: 50px;
  background-color: #1EA69A;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: rgb(244, 244, 244);
  margin-bottom: 15px;
}
.payment__content--buttons--paypal {
  margin-bottom: 70px;
}
.payment__content--buttons p {
  color: #1EA69A;
  text-align: center;
  margin-bottom: 80px;
  font-style: italic;
}/*# sourceMappingURL=App.css.map */