@import './assets/sass/variables';
@import './assets/sass/mixins';
@import './assets/sass/globals';
@import './assets/sass/navbar';
@import './assets/sass/layout';
@import './assets/sass/home';
@import './assets/sass/features';
@import './assets/sass/featuresPage';
@import './assets/sass/footer';




