.examplePage {
    display: flex;
    flex-direction: column;
    align-items: center;



    &__title{
        font-size: $txt-large-smh2;
        font-weight: bold;
        line-height: 1;
        color: $light;
        text-align: center;
        margin-bottom: 45px;

    }


  &__dyncard {
    margin-top: 60px;

    @include breakpoint-up(medium) {
        margin-top:0px;
      }  


    &--card {
        background-color:$backLight;
        border-radius: 45px;
            
        padding-bottom: 50px;
        max-width: 800px;     
        margin-bottom: 90px;   

      
      &--img {
        display: flex;
        justify-content: center;
        position: relative;
        top: 0;

        img {

            width: 100%;
            border-radius: 45px 45px 0 0;
          }        
      }

      &--imi {
        display: flex;
        justify-content: center;
        position: relative;
        top: 0;
        margin-bottom: 20px;


        img {

            width: 100%;
          }        
      }


      &--dat {
        font-size: $txt-xsmall;
        font-weight: normal;
        font-style: italic;
        line-height: 1;
        color: $gray;
        text-align: right;
        margin-top:10px;
        margin-right:10px;
        margin-bottom: 20px;

      }



      &--tit {
        font-size: $txt-large-smh2;
        font-weight: bold;
        line-height: 1;
        color: $light;
        text-align: center;
        margin-top:50px;
        margin-bottom: 40px;

      }

      &--sub {
        font-size: $txt-small;
        font-weight: bold;
        line-height: 1;
        color: $light;
        margin: 0 15px;
        margin-bottom: 30px;

      }

      &--txt {
        font-size: $txt-small;
        font-weight: normal;
        line-height: 1.5;
        color: $gray;
        text-align: left;
        margin: 0 15px;
        margin-bottom: 50px;

      }
    }
  }
}
