.examplePage {
    display: flex;
    flex-direction: column;
    align-items: center;



    &__title{

      color: $light;
      font-size: $txt-xsmall;
      text-transform: uppercase;
      font-weight: 800;
      line-height: 32px;
  
      text-align: center;
  
      @include breakpoint-up(medium) {
        margin-bottom:56px;
        font-size: $txt-large-smh2;
      }
      @include breakpoint-up(large) {
      }


    }


  &__dyncard {
    margin-top: 60px;

    @include breakpoint-up(medium) {
        margin-top:0px;
      }  


    &--card {
        background-color:$backLight;
        border-radius: 45px;
            
        padding-bottom: 50px;
        max-width: 800px;     
        margin-bottom: 90px;   

      
      &--img {
        display: flex;
        justify-content: center;
        position: relative;
        top: 0;

        img {

            width: 100%;
            border-radius: 45px 45px 0 0;
          }        
      }

      &--imi {
        display: flex;
        justify-content: center;
        position: relative;
        top: 0;
        margin-bottom: 20px;


        img {

            width: 100%;
          }        
      }


      &--dat {
        font-size: $txt-xsmall;
        font-weight: normal;
        font-style: italic;
        line-height: 1;
        color: $gray;
        text-align: right;
        margin-top:10px;
        margin-right:$p-txt;
        margin-bottom: 20px;

      }

      &--txtMargin {
        font-size: $txt-small;
        font-weight: normal;
        line-height: 1.5;
        color: $gray;
        text-align: left;
        margin-left: 10px;
    
        @include breakpoint-up(medium) {
          padding: 0 30px 30px 30px;
          margin-left: 20px;
        }
      }

      &--tit {
        font-size: $txt-large-smh2;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 32px;
        color: $light;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 30px;

      }

      &--sub {
        font-size: $txt-small;
        font-weight: bold;
        line-height: 1;
        color: $light;
        margin: 0 $p-txt;
        margin-bottom: 30px;

      }

      &--txt {
        font-size: $txt-small;
        font-weight: normal;
        line-height: 28px;
        color: $gray;
        text-align: left;

        @include breakpoint-up(medium) {
          padding: 0 $p-txt 30px $p-txt;
        }


      }

      &--link {
        font-size: $txt-small;
        font-weight: normal;
        line-height: 1.5;
        text-align: center;

        
        margin: 25px 0;
    
        a {
          background-color: $primary;
          color: $back;   
          padding: 10px 70px;
          border-radius: 25px;
    
          &:hover {
            font-weight: bold;
          }
        }
      }

      &--txtLink {
        font-size: $txt-small;
        font-weight: normal;
        line-height: 28px;
        color: $gray;
        text-align: left;
    
        @include breakpoint-up(medium) {
          padding: 0 $p-txt 30px $p-txt;
        }
    
        & a {
          color: $primary;
        }
      }



    }
  }
}
