.features {
  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__subTitle {
    margin-bottom: 56px;
  }


  &__container {

    @include breakpoint-up(medium) {
      display: flex;
      flex-wrap: wrap;
    }

    &--feature {
      width: 100%;

      @include breakpoint-up(medium) {
        width: 50%;
      }

    }
  }
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  &__image {
    width: 64%;
    margin: 27px;

    img {
      width: 100%;
    }

    @include breakpoint-up(medium) {
      width: 70%;


    }
  }

  &__title {
    color: $light;
  }
}


