.features {
  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__subTitle {
    margin-bottom: 56px;
  }

  &__container {

    @include breakpoint-up(small) {
      display: flex;
      flex-wrap: wrap;
    }

    &--feature {
      width: 100%;

      @include breakpoint-up(small) {
        width: 50%;
      }

    }
  }
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  &__image {
    width: 64%;
    margin: 27px;

    img {
      width: 100%;
    }

    @include breakpoint-up(small) {
      width: 70%;


    }
  }

  &__title {
    color: $light;
  }
}

// modal
.modal {
  position: absolute;
  top: 0;
  left: 0;

  &--container {
    position: fixed;
    transform: translateY(-120px);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

    @include breakpoint-up(small) {
      transform: translateY(-$nav-h);
    }
  }

  &--card {
    position: relative;
    display: flex;
    flex-direction: column;
    // width: 95%;
    width: $modal-w-sm;
    max-height: 100%;
    background-color: $back;
    border-radius: $modal-br-sm;

    @include breakpoint-up(small) {
      width: $modal-w-md;
      max-height: 90%;
    }

    @include breakpoint-up(medium) {
      width: $modal-w-lg;
      max-height: 90%;
    }

    &--containerImg {
      // height: 30%;
    }

    &--close {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: $light;
      opacity: 0.7;
      border-radius: 50%;
      padding: 2px;
      line-height: 0;

      img {
        width: 25px;
        opacity: 1;
      }
    }

    &--button {
      position: absolute;
      top: 5px;
      left: 5px;

      display: flex;
      justify-content: center;

      button {
        text-align: center;
        font-size: $txt-xsmall;

        width: 100px;
        height: 25px;
      }
    }

    &--img {
      overflow: hidden;
      height: $modal-w-sm * 0.56;
      border-radius: $modal-br-sm $modal-br-sm 0 0;

      @include breakpoint-up(small) {
        height: $modal-w-md * 0.56;
      }

      @include breakpoint-up(medium) {
        height: $modal-w-lg * 0.56;
      }

      img {
        width: 100%;
      }
    }

    &--containerText {
      margin: 10px;

      @include breakpoint-up(small) {
        margin: 25px;
      }
    }

    &--title {
      color: $light;
      font-size: $txt-small;
      font-weight: bold;
      text-align: center;
      margin-top: 5px;
      margin-bottom: 10px;
      line-height: 1;

      @include breakpoint-up(small) {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: $txt-small;
      }
    }

    &--subTitle {
      text-align: left;
      font-size: $txt-xsmall;
      color: $light;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 5px;

      @include breakpoint-up(small) {
        margin-bottom: 15px;
        font-size: $txt-xsmall;
      }
    }

    &--text {
      text-align: left;
      font-size: $txt-xxsmall;
      line-height: 1;
      margin-bottom: 15px;
      color: $gray;

      @include breakpoint-up(small) {
        margin-bottom: 25px;
        font-size: $txt-xxsmall;
      }
    }
  }
}
