.features {
  width: 500px;
  margin: 0 auto;
}

.card {
  width: 100px;
  height: 100px;
  background-color: aqua;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  &--container {
    position: fixed;
    transform: translateY(-120px);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);

    @include breakpoint-up(small) {
      transform: translateY(-$nav-h);
    }

  }

  &--card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    max-height: 100%;
    background-color: $back;
    border-radius: $modal-br-sm ;

    @include breakpoint-up(small) {
      width: 80%;
      max-height: 90%;
    }

    &--containerImg {
      // height: 30%;
    }

    &--close {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: $light;
      opacity: 0.7;
      border-radius: 50%;
      padding: 2px;
      line-height: 0;

      img {
        width: 25px;
        opacity: 1;
      }
    }

    &--button {
      position: absolute;
      top: 5px;
      left: 5px;


      display: flex;
      justify-content: center;

      button {
        text-align: center;
        font-size: $txt-xsmall;

        width: 100px;
        height: 25px;
      }
    }

    &--img {
      overflow: hidden;
      height: 25vh;
      border-radius: $modal-br-sm $modal-br-sm 0 0;
      
      img {
        width: 100%;
      }
    }

    &--containerText {
      margin: 15px;
      // height: 70%;
      // position: relative;

      @include breakpoint-up(small) {
        margin: 25px;
      }




    }

    &--title {
      color: $light;
      font-weight: bold;
      text-align: center;
      margin-top: 10px 0;

      @include breakpoint-up(small) {
        margin-top: 20px 0;
        font-size: $txt-medium;

      }


    }

    &--subTitle {
      text-align: left;
      color: $light;
      margin-bottom: 5px;

      @include breakpoint-up(small) {
        margin-bottom: 15px;
        font-size: $txt-small;

      }      
    }

    &--text {
      text-align: left;
      font-size: $txt-xxsmall;
      margin-bottom: 15px;

      @include breakpoint-up(small) {
        margin-bottom: 25px;
        font-size: $txt-small;
        
      }    

    }


  }
}


