// Footer ----------------------------------------------------

.footer {
  position: relative;
  bottom: 0;
  padding-top: 50px;

  @include breakpoint-up(medium) {
    padding-top: 100px;
  }

  &__linea {
    height: 1px;
    background-color: #3e3e3e;
    margin-bottom: 28px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include breakpoint-up(medium) {
      flex-direction: row;
      align-items: baseline;
    }
  }

  &__textContainer {
    padding: 10px;

    @include breakpoint-up(medium) {
      width: 70%;
    }
  }

  &__text {
    font-size: $txt-13small;
    font-weight: normal;
    line-height: 24px;
    color: $gray;
    text-align: justify;

    margin-bottom: 47px;

    @include breakpoint-up(medium) {
      font-size: $txt-xsmall;
      margin-bottom: 0;
    }
  }

  &__mailContainer {
    @include breakpoint-up(medium) {
      width: 30%;
    }
  }

  &__subTitle {
    font-size: $txt-small;
    font-weight: bold;
    line-height: 1;
    color: $gray;
    text-align: center;

    margin-bottom: 15px;

    @include breakpoint-up(medium) {
      font-size: $txt-medium;
    }
  }

  &__mail {
    font-size: $txt-xsmall;
    font-weight: normal;
    line-height: 1;
    color: $gray;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 25px;
  }

  &__rights {
    font-size: $txt-xsmall;
    font-weight: normal;
    line-height: 1;
    color: $gray;
    text-align: center;
    padding-bottom: 50px;
  }

  &__iconCont {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;

    img {
      width: 40px;
      height: 40px;
      filter: invert(1);
    }
  }
}
