.mensaje {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 800px;
  height: 90px;
  margin: 0 auto;
  border-radius: 45px;
  margin-top: 32px;
  margin-bottom: 44px;

  padding: 0 25px;
  font-size: 14px;
  font-weight: bold;

  @include breakpoint-up(medium) {
    font-size: 16px;
    padding: 26px 23px;
  }

  @include breakpoint-up(large) {
    font-size: 16px;
    padding: 34px 23px;
  }
}

.mensajeFail{
  color: rgb(235, 235, 235);
  background-color: $ternary;
}

.mensajeSucces{
  color: rgb(32, 32, 32);
  background-color: $primary;
}




.formContact {
  color: rgb(255, 255, 255);
  background-color: $backLight;
  border-radius: 45px;
  margin: 0 auto;
  width: 90%;
  padding-top: 60px;
  padding-bottom: 30px;
  max-width: 800px;

  &__title {
    font-size: $txt-large-smh2;
    font-weight: bold;
    line-height: 1;
    color: $light;
    margin-bottom: 70px;
    text-align: center;
  }

  &__campo {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: $txt-medium;
      font-weight: normal;
      line-height: 1;
      color: $light;
      margin-bottom: 20px;
      text-align: left;
      width: 85%;
    }

    input {
      background-color: $backExLight;
      width: 85%;
      padding: 15px;
      color: $gray;
      border: 1px solid $secundaryDark;
      border-radius: 15px;
      margin-bottom: 50px;
    }

    input:focus {
      border: 1px solid $secundaryLight;
    }

    textarea {
      background-color: $backExLight;
      padding: 15px;
      width: 85%;
      color: $gray;
      border: 1px solid $secundaryDark;
      border-radius: 15px;
      margin-bottom: 50px;
      resize: vertical;
      height: 140px;

      @include breakpoint-up(medium) {
        height: 180px;
      }

      @include breakpoint-up(large) {
        height: 220px;
      }
    }

    textarea:focus {
      border: 1px solid $secundaryLight;
    }
  }

  &__recaptcha {
    margin: 0 auto;
    display: flex;
    margin-bottom: 35px;
    width: 85%;

    iframe {
      @include breakpoint-up(medium) {
        border: 2px solid $secundaryDark;
      }
    }
  }

  &__boton {
    display: flex;
    justify-content: center;

    button {
      width: 85%;
      height: 50px;

      border-radius: $borde-btn-form;

      background-color: $primary;
      color: $back;
      font-size: $txt-small;
    }
  }
}
