@import "./mixins";


.scrollable-place {
  height: 1000px;
}

.stop-scrolling {
  height: 100%;
  overflow-y: hidden;
}



body {
  background-color: $back;



  

  &::before {
    content: "";
    position: absolute;
    height: 100%; //necesario
    width: 100%; //necesario
    // background-image: url("../img/logo_ninja.png");
    background-repeat: no-repeat;
    background-position: 56% 0;


    transform: rotate(-24deg);
    scale: 181%;
    left: 160px;
    top: 320px;
    opacity: 0.3;

    @include breakpoint-up(small) {
      left: 240px;
      top: 434px;
    }

    @include breakpoint-up(medium) {
      left: 166px;
      top: 500px;
    }

    @include breakpoint-up(large) {
      left: 166px;
      top: 300px;
    }
  }
}

.global__btp {
  width: 190px;
  height: 50px;

  border-top-left-radius: 25px 25px;
  border-top-right-radius: 25px 25px;
  border-bottom-left-radius: 25px 25px;
  border-bottom-right-radius: 25px 25px;

  background-color: $primary;
  color: $back;
  font-size:  $txt-small;
}


.global__tx-lg {
  font-size: $txt-large-sm;
  font-weight: bold;
  line-height: 1;
  color: $light;

  @include breakpoint-up(small) {
    font-size: $txt-large;
  }

}

.global__tx-mdl {
  font-size: $txt-large-smh2;
  font-weight: bold;
  line-height: 1;
  color: $light;

  @include breakpoint-up(small) {
    font-size: $txt-large;
  }

}



.global__tx-md {
  font-size: $txt-medium;
  font-weight: normal;
  line-height: 1;
  color: $gray;
  
}

.global__tx-sm {
  font-size: $txt-small;
  font-weight: normal;
  line-height: 1;
  color: $gray;
  
}
