@import "./mixins";

//reset ------------------
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  // font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End reset styles */

body {
  background-color: $back;
}

.global__btp {
  width: 80%;
  height: 50px;
  max-width: 180px;

  border-radius: 25px;

  background-color: $primary;
  color: $back;
  font-size: $txt-small;

  @include breakpoint-down(medium) {
    margin: 0 auto;
  }
}

.global__tx-lg {
  font-size: $txt-large-sm;
  font-weight: bold;
  line-height: 1;
  color: $light;

  @include breakpoint-up(medium) {
    font-size: $txt-large;
  }
}

.global__tx-mdl {
  font-size: $txt-large-smh2;
  font-weight: bold;
  line-height: 1;
  color: $light;

  @include breakpoint-up(medium) {
    font-size: $txt-large;
  }
}

.global__tx-md {
  font-size: $txt-medium;
  font-weight: normal;
  line-height: 1;
  color: $gray;
}

.global__tx-sm {
  font-size: $txt-small;
  font-weight: normal;
  line-height: 1;
  color: $gray;
}

.global__cont {
  max-width: $mx-w;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 60px;

  @include breakpoint-up(medium) {
    padding: 0 60px;
    padding-top: 70px;
  }

  @include breakpoint-up(large) {
    padding: 0 10%;
    padding-top: 100px;
  }
}

.gl-goTop {
  color: $primary;
  font-size: 39px;

  &--cont {
    background-color: rgb(43, 43, 43) !important;
    box-shadow: 0 0px 7px 7px rgba(1, 1, 1, 0.5) !important;
    padding: 3px !important;
    width: 45px !important;
    height: 45px !important;
    bottom: 85px !important;
    right: 38px !important;
    
    border-radius: 50px !important;

  }
}

// animaciones

.btn-trans-pry {
  transition: filter 0.2s ease-out;

  &:hover {
    filter: drop-shadow(0px 5px 30px rgba(97, 255, 189, 0.45));
    transition: filter 0.25s ease-in;
  }
}

.link-before {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: $primary;
    bottom: 0;
    transition: width 0.3s ease;
  }

  &:hover:before {
    width: 80%;
  }
}

.item-trans {
  transition: 0.4s ease;

  &:hover {
    transform: scale(1.15) translateX(20px);
    color: $light;

    @include breakpoint-up(medium) {
      transform: scale(1.15) translateX(10px);
    }

    @include breakpoint-up(large) {
      transform: scale(1.15) translateX(23px);
    }
  }
}


.whats_div {
  right: 10rem !important;
  bottom: 10rem !important;
  z-index: 10000;
}

.styles-module_whatsappButton__IWx9V::after {
  height: 45px !important;
  width: 45px !important;
}