.card-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__features {
  display: flex;
  justify-content: center;
  align-items: center;
  &--card {
    max-width: 645px;
    max-height: 600px;
  }
}

// hero ------------------------------------------
.hero {
  margin: 0 auto;
  max-width: ($mx-w * 1.2);

  .hero__container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    @include breakpoint-up(medium) {
      display: flex;
      align-items: start;
      flex-direction: row;
      max-width: 1200px;
      margin: 0 auto;
      padding: 50px 45px 0 45px;
    }
  }

  .hero__img {


    width: 75%;

    @include breakpoint-down(medium) {
      margin: 0 auto;

    }

    @include breakpoint-up(medium) {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .hero__text {
    display: flex;
    flex-direction: column;

    color: $light;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    @include breakpoint-down(medium) {
      margin-bottom: 40px;
    }

    @include breakpoint-up(medium) {
      text-align: left;
      display: block;
      padding-right: 20px;
    }
    @include breakpoint-up(large) {
      width: 40%;
    }

    &--title {
      margin-bottom: 25px;
      margin-top: 50px;
      font-size: $txt-medium;
      text-transform: uppercase;
      line-height: normal;
      font-weight: 800;




      @include breakpoint-down(medium) {
        padding: 0 30px;
      }

      @include breakpoint-up(medium) {

        margin-top:15px;
        margin-bottom: 25px;
        font-size: $txt-large;
      }

      @include breakpoint-up(large) {
        margin-top:70px;

      }



    }
    &--subTitle {
      margin-bottom: 35px;
      font-size: $txt-13small;
      line-height: 22px;

      @include breakpoint-down(medium) {
        padding: 0 30px;
      }

      @include breakpoint-up(medium) {
        margin-bottom: 45px;
        font-size: $txt-xsmall;
      }
    }
  }
}

// what ------------------------------------------
.what {
  &__container {
  }

  &__title {
    color: $light;
    font-size: $txt-xsmall;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 32px;

    text-align: center;

    @include breakpoint-up(medium) {
      margin-bottom: 10px;
      font-size: $txt-large-smh2;
    }
    @include breakpoint-up(large) {
    }
  }

  &__subTitle {
    color: $light;
    text-align: center;
    margin-bottom: 56px;

    @include breakpoint-up(medium) {
      text-align: left;
      text-align: center;
      margin-bottom: 45px;
    }
    @include breakpoint-up(large) {
    }
  }

  &__subTitle2 {
    color: $light;
    font-size: $txt-xsmall;
    // text-transform: uppercase;
    font-weight: normal;
    line-height: 32px;

    text-align: center;

    @include breakpoint-up(medium) {
      margin-bottom: 45px;
      margin-top: 90px;
      font-size: $txt-large-smh2;
    }
    @include breakpoint-up(large) {
    }
  }

  &__imagen {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin: 0 auto;
    @include breakpoint-up(medium) {
      margin-bottom: 25px;
    }
    @include breakpoint-up(large) {
      margin-bottom: 60px;
    }
    & img {
      width: 100%;
      border-radius: 15px;
    }
  }

  &__video {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 24px;
    margin: 0 auto;
    @include breakpoint-up(medium) {
      margin-bottom: 30px;
    }
    @include breakpoint-up(large) {
      margin-bottom: 35px;
    }
    & iframe {
      width: 100%;
      height: 48vw;
      border-radius: 15px;
      @include breakpoint-up(large) {
        height: 447px;
      }
    }
  }
}
// Advantages -------------------------------------
.advantages {
  &__title {
    color: $light;
    font-size: $txt-xsmall;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 32px;

    text-align: center;

    @include breakpoint-up(medium) {
      margin-bottom: 10px;
      font-size: $txt-large-smh2;
    }
    @include breakpoint-up(large) {
    }
  }

  &__subTitle {
    color: $light;
    text-align: center;
    margin-bottom: 56px;

    @include breakpoint-up(medium) {
      text-align: left;
      text-align: center;
      margin-bottom: 45px;
    }
    @include breakpoint-up(large) {
    }
  }

  // ---------
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint-up(medium) {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__advantage {
    border: 1px solid $darkGray;
    border-radius: 40px;
    max-width: 370px;
    padding: 15px;
    margin-bottom: 25px;

    @include breakpoint-down(medium) {
      width: 90%;
    }

    @include breakpoint-up(medium) {
      width: 33%;
      padding: 15px;
      flex: 1 0 auto;
      min-height: 550px;
      margin: 5px;
      max-width: 500px;
    }

    @include breakpoint-up(large) {
      padding: 30px;
      min-height: 565px;
      margin: 10px;
    }

    &--img {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 25px;
      margin-top: 25px;
      display: flex;
      justify-content: center;

      @include breakpoint-up(medium) {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
      }

      img {
        width: 60%;

        @include breakpoint-up(medium) {
        }
      }
    }

    &--text {
      @include breakpoint-up(medium) {
        height: 80%;
        width: 100%;
      }

      h2 {
        font-size: $txt-xsmall;
        font-weight: bold;
        line-height: 1;
        color: $light;
        margin-bottom: 20px;
        text-align: center;

        @include breakpoint-up(medium) {
          font-size: $txt-medium2;
          text-align: center;
          width: 100%;
        }

        @include breakpoint-up(large) {
          font-size: $txt-large-smh2;
        }
      }

      h4 {
        font-size: $txt-13small;
        font-weight: normal;
        line-height: 20px;
        color: $gray;
        margin-bottom: 50px;

        @include breakpoint-up(medium) {
          font-size: $txt-xxsmall;
          line-height: 23px;
        }
      }
    }

    //advantage animation

    transition: 0.3s ease-out;

    &:hover {
      transform: scale(1.025);
      border: 3px solid $gray;
      background-color: $backLitLight;

      animation-duration: 1.5s;
      animation-name: key1;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.08, 0.6, 0.69, 1);
    }

    @keyframes key1 {
      from {
        border: 3px solid $darkGray;
      }
      50% {
        border: 3px solid $primary;
      }
      to {
        border: 3px solid $darkGray;
      }
    }
  }
}

// Button -----------------------------------------------------------------
.buybutton {
  &__title {
    color: $light;
    font-size: $txt-xsmall;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 20px;
    text-align: center;
    margin-bottom: 10px;

    @include breakpoint-up(medium) {
      line-height: 32px;
      margin-bottom: 10px;
      font-size: $txt-large-smh2;
    }
    @include breakpoint-up(large) {
    }
  }
  &__subTitle {
    color: $light;
    text-align: center;
    margin-bottom: 56px;

    @include breakpoint-up(medium) {
      margin-bottom: 45px;
    }
    @include breakpoint-up(large) {
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    & button {
    }
  }

  &__img {
    display: flex;
    justify-content: center;

    @include breakpoint-up(large) {
      margin-bottom: 50px;
    }

    & img {
      width: 90%;
      @include breakpoint-up(medium) {
        width: 60%;
      }
    }
  }
}
