@import "./mixins";

.navbar {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
  font-size: 17px;

  display: flex;
  justify-content: center;


  &__container {
    display: flex;
    width: 1200px;
    justify-content: space-between;
  }

  &__img {
    width: 130px;
    margin-left: 50px;
    margin-top: 40px;

    img {
      width: 100%;
    }

    @include breakpoint-down(small) {
      margin-left: 25px;
    }
  }

  &__links {
    margin-top: 50px;
    margin-right: 50px;

    :nth-child(n) {
      padding: 10px;
      color: aliceblue;
    }

    @include breakpoint-down(small) {
      display: none;
    }
  }

  &__burguer {
    @include breakpoint-down(small) {

      margin-top: 38px;
      margin-right: 25px;

      :nth-child(n) {
        background-color: azure;
        height: 5px;
        width: 35px;
        margin: 5px;
      }
    }
  }
}



.sideBarOn, .sideBarOff {
  position: absolute;
  top: 10px;
  width: 90%;
  height: 500px;
  background-color: rgb(17, 17, 17);

  // closeButton -------
  .st1 {
    position: absolute;
    top: 8px;
    right: 10px;

    height: 35px;
    width: 35px;
  }

  .st2,
  .st3 {
    position: absolute;
    top: 10px;
    right: -5px;

    height: 5px;
    width: 35px;
    margin: 5px;

    background-color: rgb(255, 255, 255);
  }

  .st2 {
    rotate: (45deg);
  }

  .st3 {
    rotate: (-45deg);
  }
  // ----------------

  & .sideBarLinks {
    display: flex;
    flex-direction: column;

    margin: 30px;

    & a {
      margin: 12px 0px;
      color: aliceblue;

    }
  }
  // ----------------

  animation-duration: 750ms;
}

.sideBarOn {
  margin-left: 0%;
  animation-name: slideIn;
}

.sideBarOff {
  margin-left: 200%;
  animation-name: slideOut;
}


@keyframes slideIn {
  from {
    margin-left: 200%;
  }

  to {
    margin-left: 0%;
  }
}


@keyframes slideOut {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 200%;
  }
}


.sideBarInit {
  margin-left: 0%;

  .st1,
  .st2,
  .st3,
  .sideBarLinks {
    display: none;
  }
}
