.orderPage {
  max-width: $mx-w;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  &__logo {
    max-width: 1000px;

    width: 90%;
    margin-bottom: 37px;
    img {
      width: 160px;
    }
  }
}

.CardOrder {
  max-width: 1000px;
  color: $light;
  background-color: $backLight;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 37px;

  &__box {
    height: 70px;
    background-color: $primary;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;

    @include breakpoint-up(medium) {
      height: 140px;
    }

    &--title {
      position: absolute;
      bottom: 10px;
      left: 15px;
      font-size: $txt-medium;
      font-weight: bold;
      color: $back;

      @include breakpoint-up(medium) {
        font-size: $txt-large-smh2;
      }

    }

    &--date {
      position: absolute;
      bottom: 10px;
      right: 15px;
      font-size: $txt-xsmall;
      font-weight: normal;
      color: $back;

      @include breakpoint-up(medium) {
        font-size: $txt-medium2;
      }      

    }
  }

  &__content {
    padding: 0 15px;
    padding-top: 50px;

    @include breakpoint-up(medium) {
      padding-top: 90px;
    }

    &--product {
      display: flex;
      flex-direction: column;

      @include breakpoint-up(medium) {
        flex-direction: row;
        flex: auto;
      }

      &--item {
        @include breakpoint-up(medium) {
          padding: 0px 20px;
        }

        > p {
          font-size: $txt-medium;
          font-weight: normal;
          color: $light;
          margin-bottom: 18px;
        }
        div {
          height: 50px;
          background-color: $backExLight;
          border: 1px solid $secundaryDark;
          border-radius: 5px;
          display: flex;
          align-items: center;
          padding: 0 7px;
          margin-bottom: 35px;

          @include breakpoint-up(medium) {
            margin-bottom: 0px;
            padding: 0 16px;
          }
        }
      }

      &--it {
        @include breakpoint-up(medium) {
          width: 40%;
        }
      }

      &--lc {
        @include breakpoint-up(medium) {
          width: 40%;
        }
      }
      &--pr {
        width: 50%;

        @include breakpoint-up(medium) {
          width: 20%;
        }
      }
    }

    hr {
      height: 1px;
      background-color: $secundaryDark;
      margin-top: 25px;
      margin-bottom: 35px;

      @include breakpoint-up(medium) {
        margin: 0 auto;
        width: 96%;
        margin-top: 90px;
        margin-bottom: 55px;

      }
    }

    h4 {
      display: flex;
      justify-content: flex-end;
      font-size: $txt-medium;
      font-weight: normal;
      color: $light;
      margin-bottom: 30px;

      p {
        margin-left: 5px;
      }

      @include breakpoint-up(medium) {
        margin-bottom: 55px;
      }
    }
  }
}

.payment {
  max-width: 1000px;
  margin-bottom: 37px;
  color: $light;
  background-color: $backLight;
  width: 90%;
  border-radius: 10px;
  padding: 30px 0;

  @include breakpoint-up(medium) {
  }

  h3 {
    text-align: center;
    margin-bottom: 60px;
    font-size: $txt-medium2;

    @include breakpoint-up(medium) {
      font-size: $txt-medium3;
    }
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;

    @include breakpoint-up(medium) {
      flex-direction: row;
      align-items: start;


    }

    &--logo {
      padding: 0 15px;

      @include breakpoint-up(medium) {
        width: 50%;
        padding: 0 25px;
      }

      hr {
        height: 1px;
        width: 100%;
        background-color: $secundaryDark;
        top: 13px;

        @include breakpoint-up(medium) {
          display: none;
        }
      }

      &--img {
        margin: 20px 0;
        img {
          width: 100%;
        }
      }
      &--text {
        p {
          color: $light;
          font-style: italic;
          font-size: $txt-xsmall;
          line-height: 1.3;
          margin-bottom: 20px;
        }
      }
    }

    &--buttons {
      padding: 0 15px;

      @include breakpoint-up(medium) {
        width: 50%;
        padding: 0 25px;
      }

      &--title {
        position: relative;
        height: 30px;
        display: flex;
        justify-content: center;
        margin-bottom: 33px;

        hr {
          position: absolute;
          height: 1px;
          width: 100%;
          background-color: $secundaryDark;
          top: 13px;
        }
        h4 {
          position: absolute;
          background-color: $backLight;
          padding: 0 10px;
          font-size: $txt-medium2;
        }
      }

      &--btnTeach {
        display: flex;
        justify-content: center;

        button {
          width: 100%;
          height: 50px;
          background-color: $teachable;
          margin: 0 auto;
          border-radius: 10px;
          font-size: $txt-medium;
          font-style: italic;
          font-weight: bold;
          color: $light;
          margin-bottom: 15px;
        }
      }

      &--paypal {
        margin-bottom: 70px;
      }

      p {
        color: $teachable;
        text-align: center;
        margin-bottom: 80px;
        font-style: italic;
       
      }
    }
  }
}
