.testimony {
  display: flex;
  flex-direction: column;

  @include breakpoint-up(small) {
    margin-bottom: 60px;
  }

  &__title {

    color: $light;
    font-size: $txt-xsmall;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 32px;

    text-align: center;

    @include breakpoint-up(medium) {
      margin-bottom: 45px;
      font-size: $txt-large-smh2;
    }
    @include breakpoint-up(large) {
    }

  }

  &__container {
    display: flex;

    &--image {
      width: 85%;
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }

  // modal ----------------------------------------------------------
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;

    &--container {
      position: fixed;
      // transform: translateY(-120px);

      display: flex;
      justify-content: center;
      // align-items: center;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.7);

      @include breakpoint-up(medium) {
        // transform: translateY(-$nav-h);
      }
    }

    &--card {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 320px;
      height: 180px;
    background-color: $back;
      border-radius: $modal-br-sm;

      @include breakpoint-up(medium) {
        width: 480px;
        height: 270px;
      }


      @include breakpoint-up(medium) {
          width: 600px;
          height: 340px;
        }

      &--close {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: $light;
        opacity: 0.7;
        border-radius: 50%;
        padding: 2px;
        line-height: 0;

        img {
          width: 25px;
          opacity: 1;
        }
      }

      &--video {


        width: 320px;
        height: 180px;

        @include breakpoint-up(medium) {
          width: 480px;
          height: 270px;
        }


        @include breakpoint-up(medium) {
            width: 600px;
            height: 340px;
          }

      }
    }
  }
}
