.testimony{

    &__container{
        display: flex;
    }

    &__card{

        &--image{
            width: 100%;
            img{
                width: 100%;
            }
        }

    }




}