//colores

$light : rgb(244, 244, 244);
$gray : rgb(172, 172, 181);
$primary: rgb(97, 255, 189);
$backLight : rgb(21, 19, 43);
$back : rgb(4, 0, 28);

//tamaños textos

$txt-large: 60px;
$txt-large-sm: 48px;
$txt-large-smh2: 40px;
$txt-medium: 20px;
$txt-small: 18px;

//dimensiones globales

$mx-w: 1440px;

