//colores

$light : rgb(244, 244, 244);
$lightGray : rgb(210, 210, 215);
$gray : rgb(172, 172, 181);
$darkGray : rgb(90, 90, 90);
$darkExGray : rgb(47, 47, 47);
$primary: rgb(97, 255, 189);
$secundary: rgb(105, 0, 255);
$secundaryDark: #15113b;
$secundaryLight: #776edc;
$ternary: #e90089;
$backExLight : rgb(26, 24, 53);
$backLight : rgb(21, 19, 43);
$backLitLight : rgb(10, 0, 66);
$back : rgb(4, 0, 28);
$teachable: #1EA69A;

//tamaños textos

$txt-large: 30px;
$txt-large-sm: 28px;
$txt-large-smh2: 26px;
$txt-medium3: 24px;
$txt-medium2: 22px;
$txt-medium: 20px;
$txt-small: 18px;
$txt-xsmall: 16px;
$txt-xxsmall: 14px;
$txt-13small: 13px;
$txt-12small: 12px;



//dimensiones globales
//ancho maximo de pagina
$mx-w: 1440px;



//alto de navbar
$nav-h: 100px;

//borde card
$modal-br-sm: 17px;
$buy-br-sm:45px;

//tamaño modal 

$modal-w-sm:300px;
$modal-w-md:450px;
$modal-w-lg:550px;


//borde boton form
$borde-btn-form:15px;

//margen cards examples
$p-txt: 30px;


$margen-lat: 52px;
$margen-lat-mobil: 20px;