//colores

$light : rgb(244, 244, 244);
$lightGray : rgb(210, 210, 215);
$gray : rgb(172, 172, 181);
$primary: rgb(97, 255, 189);
$secundary: rgb(105, 0, 255);
$secundaryDark: #423aa0;
$secundaryLight: #776edc;
$backExLight : rgb(26, 24, 53);
$backLight : rgb(21, 19, 43);
$back : rgb(4, 0, 28);
$teachable: #1EA69A;

//tamaños textos

$txt-large: 60px;
$txt-large-sm: 48px;
$txt-large-smh2: 40px;
$txt-medium3: 35px;
$txt-medium2: 25px;
$txt-medium: 20px;
$txt-small: 18px;
$txt-xsmall: 16px;
$txt-xxsmall: 14px;



//dimensiones globales
//ancho maximo de pagina
$mx-w: 1440px;

//alto de navbar
$nav-h: 100px;

//borde card
$modal-br-sm: 17px;
$buy-br-sm:45px;

//tamaño modal 

$modal-w-sm:300px;
$modal-w-md:450px;
$modal-w-lg:550px;


//borde boton form
$borde-btn-form:15px;
